html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.vis-react {
  width: 65rem;
  height: 40rem;
  border: none;
  padding: 2rem;
  display: block;
  margin: 0 auto;
}
.vis-react-title {
  text-align: center;
}
